@import "fonts.css";
.container{
	margin-bottom: 100px !important;
}
h2{
	font-style: normal;
	font-weight: 500;
	text-align: center;
	color: #41B381;
	font-family: Orkney-Bold;
	padding: 26px 0;
}

h4{
	font-style: normal;
	font-weight: bold;
	text-align: center;
	font-family: Roboto-Bold;
	margin-bottom: 45px;
}

h6{
	font-style: normal;
    font-weight: bold;
    text-align: center;
    font-family: Roboto-Bold;
    padding: 24px 0;
    font-size: 34px;
}


p{
	font-family: Roboto-Medium;
    font-size: 26px;

}
b{
	font-weight: bold !important;
}
button{
    background-color: #41B381 !important;
    border-radius: 22px !important;
    border: none;
    font-family: Roboto-Medium !important;
    color: white;
    font-size: 22px !important;
    position: absolute;
    margin: 0 auto;
    padding: 15px 84px;
    left: 0;
    top: 96%;
    right: 0;
    cursor: pointer;
}

verde{
	font-weight: bold;
	color: #41B381;
}

.Button-noAbso{
	position: static;
	filter: drop-shadow(0px 3px 6px rgba(52, 60, 88, 0.4));
}

.ButtonS2{
	width: 150px;
	height: 150px !important;
	border-radius: 100px !important;
	background: #41B381;
	position: absolute;
	padding: 20px;
	margin: 0 !important;
	top: 70px;
	left: 50px;
}
.ButtonS2-cond{
	width: 150px;
	height: 150px !important;
	border-radius: 100px !important;
	background: #41B381;
	position: absolute;
	padding: 20px;
	margin: 0 !important;
	top: 70px;
	left: calc(100vw - 350px);
}

.ButtonS2-mente{
	width: 150px;
	height: 150px !important;
	border-radius: 100px !important;
	background: #41B381;
	position: absolute;
	padding: 20px;
	margin: 0 auto !important;
	top: 430px;
}

.ButtonS2-figure{

}

.images{
	padding: 46px 0;
}
.div-sombra{
	border-radius: 28px;
    padding-bottom: 37px !important;
    position: relative;
}
.linha{
	border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #C4C4C4;
    padding-bottom: 25px;
}