@import "fonts.css";

h2{
	font-style: normal;
	font-weight: 500;
	text-align: center;
	color: #41B381;
	font-family: Orkney-Bold;
	padding: 26px 0;
}

h4,h6{
	font-style: normal;
	font-weight: bold;
	text-align: center;
	font-family: Roboto-Bold;
	padding: 23px 119px;
}

h6{
	font-style: normal;
	font-weight: bold;
	text-align: center;
	font-family: Roboto-Bold;
	padding: 23px;
}


p{
	font-family: Roboto-Medium;
    font-size: 26px;

}
button{
    background-color: #41B381 !important;
    border-radius: 22px !important;
    border: none;
    font-family: Roboto-Medium !important;
    color: white;
    font-size: 20px !important;
}

.images{
	padding: 46px 0;
}
.div-sombra{
	border-radius: 28px;
    padding-bottom: 27px !important;
}